.n1{

    margin: 100px 100px 100px 220px;
    
border: 30px;


}

.nf1{


float: left;
*{

    background-color:white;
}

}

.r2
{

padding: 1px 0cm 0cm 0cm;
float: right;

}

html{
background-color: rgb(94, 221, 40);
    font-family: 'Roboto', sans-serif;
margin: 10px 10px 10px 10px;
}
body{
    background-color: aliceblue;
  
   margin: 200px 335px 200px 335px;
} 
.mmm1{



}
.n1{

    width: 50%;
}
input{


}



